[Unit]
Description=system-setup Battery Monitor Timer
Requires=system-setup-battery-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target