@define-color battery-warning #f53c3c;
@define-color battery-full #00a009;
@define-color battery-charging #0fa3b1;
@define-color battery #0fa3b1;

@define-color backlight #e0ac0d;
@define-color pulseaudio #ec7357;
@define-color pulseaudio-muted #f53c3c;

@define-color network #aa6ee6;
@define-color bluetooth #0fa3e1;
@define-color tmux #009301;

@import "../system-setup/current/theme/waybar.css";

@keyframes blink {
  0% {
    text-shadow:
      0 0 7px rgba(245, 60, 60, 0.9),
      0 0 12px rgba(245, 60, 60, 0.9);
  }
  50% {
    text-shadow:
      0 0 20px rgba(245, 60, 60, 1),
      0 0 35px rgba(245, 60, 60, 1);
  }
  100% {
    text-shadow:
      0 0 7px rgba(245, 60, 60, 0.9),
      0 0 12px rgba(245, 60, 60, 0.9);
  }
}

.module {
  font-family: JetbrainsMono Nerd Font;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 4px;
  font-size: 14px;
  color: @fg;
}

.module:hover {
}

tooltip {
  color: white;
}

tooltip * {
  color: white;
}

#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  margin-top: 8px;
}

.modules-center {
  padding-left: 1em;
  padding-right: 1em;
}

.modules-left {
  padding-left: 0.7em;
}

.modules-right {
  padding-right: 0.7em;
}

#workspaces button {
  border: none;
  /* background: @bg-window; */
  margin-top: 0px;
  margin-right: 0px;
  padding: 0px 0px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-right: 0.4em;
}

#workspaces button * {
  border: none;
  font-weight: bold;
  color: @fg-window;
  font-weight: normal;
}

#workspaces button.active {
  border: none;
  /* background: @bg-window-active; */
  font-weight: bold;
}

#workspaces button.active * {
  border: none;
  color: @fg-window-active;
}

#window {
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-radius: 4px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* background-color: @bg-window-active; */
}

#window * {
  color: @fg-window-active;
}

.modules-center {
  border-radius: 4px;
  /* background-color: @bg-center; */
}

#backlight,
#memory,
#cpu,
#bluetooth,
#pulseaudio,
#custom-tmux,
#battery,
#network {
  transition: background-color 0.1s ease-in-out;
  background-color: @bg-right;
}

#workspaces button:not(.active):hover {
  /* background-color: @bg-window-hover; */
  /* box-shadow: */
  /*   rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, */
  /*   rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
}

#workspaces button:not(.active):hover * {
  color: @fg-window-hover;
}

#backlight:hover,
#memory:hover,
#cpu:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-tmux:hover,
#custom-polycat:hover,
#battery:hover,
#network:hover {
  background-color: @bg-hover;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#custom-music,
#tray,
#backlight,
#keyboard-state,
#battery,
#pulseaudio,
#network,
#memory,
#bluetooth,
#custom-lock,
#custom-tmux,
#custom-power {
  font-weight: bold;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

#custom-polycat {
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-family: polycat;
  font-size: 20px;
}

#battery {
  color: @battery;
}

#battery.charging {
  color: @battery-charging;
}

#battery.full {
  color: @battery-full;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  animation: blink 1s infinite ease-in-out;
  color: @battery-warning;
}

#backlight {
  color: @backlight;
}

#backligt .label {
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @pulseaudio;
}

#pulseaudio.sink-muted {
  color: @pulseaudio-muted;
}

#network {
  color: @network;
}

#clock {
  color: @clock;
}

#custom-polycat {
  transition: all 0.1s ease-in-out;
  color: @polycat;
}

#bluetooth {
  color: @bluetooth;
}

#custom-tmux {
  color: @tmux;
}

/* TODO: Farben TMUX, Network, Bluetooth, Polycat */
