@import "../omarchy/current/theme/waybar.css";

.module {
  font-family: JetbrainsMono Nerd Font;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 4px;
  font-size: 14px;
  color: @fg;
}

.module:hover {
}

tooltip {
  color: white;
}

tooltip * {
  color: white;
}

#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  margin-top: 8px;
}

.modules-center {
  padding-left: 1.4em;
  padding-right: 1.4em;
}

.modules-left {
  padding-left: 0.7em;
}

.modules-right {
  padding-right: 0.7em;
}

#workspaces {
  color: @fg;
}

#workspaces button {
  margin-top: 0px;
  margin-right: 0px;
  padding: 0px 0px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-right: 0.4em;
}

#workspaces button * {
  color: @bg-window;
  font-weight: normal;
}

#workspaces button.active {
  background: @bg-window;
  font-weight: bold;
}

#workspaces button.active * {
  color: @fg-window;
}

#window {
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-radius: 4px;
  background-color: @bg-window;
  color: @fg-window;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#window * {
  color: @fg-window;
}

#backlight:hover,
#memory:hover,
#cpu:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-tmux:hover,
#custom-polycat:hover,
#network:hover {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#workspaces button:not(.active):hover {
  background: @bg-window;
}

#workspaces button:not(.active):hover * {
  color: @fg-window;
}

#custom-music,
#tray,
#backlight,
#keyboard-state,
#battery,
#pulseaudio,
#network,
#memory,
#bluetooth,
#custom-lock,
#custom-tmux,
#custom-power {
  margin-right: 1em;
  margin-left: 1em;
}

#custom-polycat {
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-family: polycat;
  font-size: 20px;
}

#battery {
  color: @battery;
}

#battery.charging {
  color: @battery-charging;
}

#battery.warning:not(.charging) {
  color: @battery-warning;
}

#backlight {
  color: @backlight;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @pulseaudio;
}

#network {
  color: @network;
}

#clock {
  color: @clock;
}

#custom-polycat {
  color: @polycat;
}

#bluetooth {
  color: @bluetooth;
}

#custom-tmux {
  color: @tmux;
}

/* TODO: Farben TMUX, Network, Bluetooth, Polycat */
