tabbar {
  margin-top: -8px;
  margin-bottom: -8px;
}

tabbar tabbox {
  transform: translateY(2px);
  height: 8px;
  min-height: 8px;
  /* background-color: #1a1a1a; */
  font-family: "GeistMono Nerd Font";
  font-size: 14px;
}

tabbar tabbox button {
  background-color: transparent;
}

headerbar {
}

headerbar button {
  background-color: transparent;
}

headerbar button image {
}

tabbox tab {
}

tabbox tab label {
}

tabbox tab:checked {
  background-color: transparent;
}

tabbox tab:default {
  background-color: transparent;
}
tabbox tab:target {
  background-color: transparent;
}
tabbox tab:disabled {
  background-color: transparent;
}
tabbox tab:enabled {
  background-color: transparent;
}
tabbox tab:hover {
  background-color: transparent;
}
tabbox tab:focus {
  background-color: transparent;
}
tabbox tab:active {
  background-color: transparent;
}
tabbox tab:selected {
  color: #00ff00;
  font-weight: bold;
  background-color: transparent;
}
