@define-color fg whitesmoke;
@define-color bg #0a0a0a;

@define-color bg-window #0a0a0a;
@define-color fg-window whitesmoke;

@define-color clock #0a0a0a;
@define-color polycat #0a0a0a;
@define-color battery #0fa3b1;
@define-color battery-charging #0fa3b1;
@define-color battery-warning #f7a072;
@define-color backlight #8a89c0;
@define-color pulseaudio #ec7357;
@define-color network #aa6ee6;
@define-color bluetooth #0fa3e1;
@define-color tmux #0f9391;

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
  color: @fg;
}

tooltip {
  color: white;
}

tooltip * {
  color: white;
}

#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  margin-top: 8px;
}

.modules-left {
  padding-left: 0.7em;
}

.modules-right {
  padding-right: 0.7em;
}

#workspaces {
  color: @fg;
}

#workspaces button {
  border: 1px solid transparent;
  margin-top: 0px;
  margin-right: 0px;
  padding: 0px 0px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-right: 1em;
}

#workspaces button.active {
  background: transparent;
  font-weight: bold;
  border: 1px solid @fg;
}

#custom-music,
#tray,
#backlight,
#keyboard-state,
#battery,
#pulseaudio,
#network,
#memory,
#bluetooth,
#custom-lock,
#custom-tmux,
#custom-power {
  font-size: 14px;
  margin-right: 1em;
  margin-left: 1em;
}

#custom-polycat {
  margin-right: 1em;
  margin-left: 0.8em;
  font-family: polycat;
  font-size: 16px;
}

#window {
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-radius: 4px;
  background-color: @bg-window;
  color: @fg-window;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#window * {
  color: @fg-window;
}

#battery {
  color: @battery;
}

#battery.charging {
  color: @battery-charging;
}

#battery.warning:not(.charging) {
  color: @battery-warning;
}

#backlight {
  color: @backlight;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @pulseaudio;
}

#network {
  color: @network;
}

#clock {
  color: @clock;
}

#custom-polycat {
  color: @polycat;
}

#bluetooth {
  color: @bluetooth;
}

#custom-tmux {
  color: @tmux;
}

/* TODO: Farben TMUX, Network, Bluetooth, Polycat */
