* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
	margin-top: 2px;
	margin-bottom: 1px;
	margin-left: 2px;
	margin-right: 6px;
  color: #0a0a0a;
}

tooltip {
  color: white;
}

tooltip * {
  color: white;
}

#waybar {
  background: transparent;
  color: #0a0a0a;
}

#workspaces {
  color: #0a0a0a;
}

#workspaces button {
	margin-top: 0px;
	padding: 0px 0px;
}

#workspaces button.active {
}

#custom-music,
#tray,
#backlight,
#keyboard-state,
#clock,
#battery,
#pulseaudio,
#network,
#memory,
#bluetooth,
#custom-lock,
#custom-polycat,
#custom-power {
	margin-right: 1rem;
	margin-left: 1rem;
}

#custom-tmux {
}

#memory {
}

#cpu {
}

#custom-polycat {
	margin-right: 0px;
  font-family: polycat;
  font-size: 16px;
}

#window {
  min-width: 32rem;
}

#clock {
}

#battery {
  color: #0fa3b1;
}

#battery.charging {
  color: #0fa3b1;
}

#battery.warning:not(.charging) {
  color: #f7a072;
}

#backlight {
  color: #8a89c0;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: #ec7357;
}

#custom-music {
  color: #ca9ee6;
}

#bluetooth {
}

#custom-power {
}

#tray {
}
